@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: "../fonts/source-sans-pro-v19-latin-regular.woff2" format("woff2"), url("../fonts/source-sans-pro-v19-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: "../fonts/source-sans-pro-v19-latin-600.woff2" format("woff2"), url("../fonts/source-sans-pro-v19-latin-600.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: "../fonts/source-sans-pro-v19-latin-700.woff2" format("woff2"), url("../fonts/source-sans-pro-v19-latin-700.woff") format("woff");
}

.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: #ffffff;
}

.bg-background-color {
  background-color: #F4F4F4;
}

.header-left-inner__search-input {
  outline: none;
  border-radius: 8px !important;
  padding: 7px 0;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.0521739px;
  height: 29px;
  line-height: 15px;
  margin-right: 14px;
  position: relative;
}

.header-left-inner__search-input::placeholder {
  color: #aeaeae;
}

.header-inner {
  height: 47px;
}


.header-left-inner {
  position: relative;
}
.header-left-inner__search-input::placeholder {
  position: absolute;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-image: url("./img/search-ico.svg");
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  background-position-x: calc(50% - 30px);
}

.btn-hover:hover rect { 
  fill: #2481CC;
  transition: .2s ease;
}

.btn-hover:hover path { 
  fill: #ffffff;
  transition: .2s ease;
}

.header-left-inner-btn {
  width: 38px;
  height: 29px;
  padding: 0 !important;
}