@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: "../fonts/source-sans-pro-v19-latin-regular.woff2" format("woff2"), url("../fonts/source-sans-pro-v19-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: "../fonts/source-sans-pro-v19-latin-600.woff2" format("woff2"), url("../fonts/source-sans-pro-v19-latin-600.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: "../fonts/source-sans-pro-v19-latin-700.woff2" format("woff2"), url("../fonts/source-sans-pro-v19-latin-700.woff") format("woff");
}

.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: #ffffff;
  height: 100%;
  overflow: hidden;
}

body.is-preload * {
  visibility: hidden;
}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}

.bg-background-color {
  background-color: #F4F4F4;
}

.header-left-inner__search-input {
  outline: none;
  border-radius: 8px !important;
  padding: 7px 0;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.0521739px;
  height: 29px;
  line-height: 15px;
  margin-right: 14px;
  padding-left: 30px;
  padding-right: 30px;
}

.header-inner {
  height: 47px;
}

.header-left-inner {
  position: relative;
}

.header-left-inner__search-input::placeholder {
  position: absolute;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-image: url("./img/search-ico.svg");
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  background-position-x: calc(50% - 30px);
  color: #aeaeae;
}

.header-left-inner__search-input:focus {
  background-image: url("./img/cancel-close.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position-x: calc(100% - 10px);
  background-position-y: calc(50%);
}

.btn-hover:hover rect { 
  fill: #2481CC;
  transition: .2s ease;
}

.btn-hover:hover path { 
  fill: #ffffff;
  transition: .2s ease;
}

.outline-none {
  outline: none;
}

.header-left-inner-btn {
  width: 38px;
  height: 29px;
}

.header-main {
  position: relative;
}

.header-left-inner-time {
  position: absolute;
  margin-left: calc(55%);
  margin-top: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: -0.0521739px;
  color: #A9A9A9;
}

.header-main__canel-button,
.header-main-other-opiopns__edit-btn {
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.0608696px;
  height: 15px;
  opacity: 1;
}

.btn-color {
  font-weight: 700;
  color: #2481CC;
}

.btn-opacity:hover {
  opacity: .8;
}

.header-main-other-opiopns-search-btn {
  margin-right: 28px !important;
}

.main {
  padding-top: 47px;
}

.main-bg {
  background-color: #F7F7F7;
}

.main-status-time-box {
  position: relative;
}

.main-status-time-box__pin-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* USER */

.user {
  height: 65px;
  margin-left: -12px !important;
  margin-right: -12px !important;
  padding: 0 12px;
}

.user:hover {
  background-color: #e6e6e6;
  transition: .1s ease-in-out;
}

.user-main-status {
  border-color: #EAEAEA !important;
}

.user-main-status-info {
  width: 60%;
}

.user-main-status-info__user-name,
.user-main-status-info__user-goup-name,
.user-main-status-info__user-message {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.0608696px;
  color: #333333;
}

.user-main-status-info__user-goup-name {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.0565218px;
}

.user-main-status-info__user-message {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.0565218px;
  color: #999999;
}

.user-main-status {
  height: 57px;
  margin-left: 10px;
  margin-right: -12px;
}

.main-top-status-time-box__send-time {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  letter-spacing: -0.0521739px;
  color: #999999;
  display: inline;
}

.main-status-time-box__pin-img {
  margin-bottom: 7px;
}
/* FOOTER */

.test {
  bottom: 0;
}

.footer-left-inner-btn:first-child .footer-left-inner-btn__img:hover circle {
  stroke: #2481CC;
  transition: .3s ease;
}

.footer-left-inner-btn:first-child .footer-left-inner-btn__img:hover path {
  fill: #2481CC;
  transition: .3s ease;
}

.footer-left-inner-btn:nth-child(2) .footer-left-inner-btn__img:hover path {
  fill: #999999;
  transition: .3s ease;
}

.footer-left-inner-btn:nth-child(3) .footer-left-inner-btn__img:hover path {
  stroke: #2481CC;
  fill: #2481CC;
  transition: all .1s ease-in-out;
}

.footer-left-inner-btn:nth-child(3) .footer-left-inner-btn__img:hover circle {
  stroke: #2481CC;
  transition: .3s ease;
}

.footer-inner{
  height: 53px;
}

.main {
  height: 100vh;
}

.pro,
.main-inner,
.main-left,
.main-right {
  height: 100%;
}

.footer-form-message {
  height: 30px;
  resize: none;
  border: none;
  width: 100%;
}

.footer-form {
  width: 100%;
}

.footer-main-inner {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.footer-form-message::placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  letter-spacing: -0.0565218px;
  color: #999999;
  padding-top: 4px;
}

.footer-form-message {
  font-weight: 700;
  color: #2481CC;
}
.footer-l-svg {
  display: none;
}

.footer-l-svg path {
  fill:#2481CC;
  opacity: .8;
}

.footer-l-svg:hover path {
  opacity: 1;
  transition: all .1s ease-in-out;
}

.footer-left-box-btn__img:hover path{
  stroke: #2481CC;
  transition: .1s ease-in-out;
}

#textarea:valid + .footer-right-box .footer-right-box-btn:last-child .footer-right-box-btn__img:first-child{
  transition: all 5s ease;
  display: none;
}

#textarea:valid + .footer-right-box .footer-right-box-btn:last-child .footer-right-box-btn__img:last-child{
  transition: all 5s ease;
  display: block;
}

#textarea:invalid + .footer-right-box .footer-right-box-btn:last-child .footer-right-box-btn__img:first-child{
  transition: all 5s ease;
  display: block;
}

.right-title {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -12px;
  margin-right: -12px;
  height: 34px;
}

.right-title__title,
.righ-bottom-emoji-box-title__item {
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  letter-spacing: -0.0565218px;
  color: #333333;
}

.right-title__subtitle {
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  letter-spacing: -0.0565218px;
  color: #2481CC;
}

.right-top-emoji-box__img {
  width: 30px;
  height: 30px;
  margin-left: auto;

  margin-left: 0 !important;
  margin-right: 0 !important;
  cursor: pointer;
  margin-top: 9px;
}

.right-top-emoji-box__img:hover {
  transition: .2s ease-in-out;
  transform: scale(1.3);
}

.right-top-emoji-box__img {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.righ-bottom-emoji-box__content {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 100%;
  height: 695px;
}

.righ-bottom-emoji-box__content::-webkit-scrollbar {
  width: 0;
}

.main-left {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main-left::-webkit-scrollbar,
.main-center::-webkit-scrollbar {
  width: 4px;
}

.main-left::-webkit-scrollbar-track,
.main-center::-webkit-scrollbar-track {
  background: transparent; 
}

.main-left::-webkit-scrollbar-thumb,
.main-center::-webkit-scrollbar-thumb {
  background: #2480cc7f; 
  border-radius: 15px;
}

.main-left::-webkit-scrollbar-thumb:hover,
.main-center::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* START MAIN */

.main-center {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 53px;
}

.user-name,
.user-message {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.0565218px;
  color: #2481CC;
  text-decoration: none;
}

.user-message,
.sended-time {
  font-weight: 400;
  letter-spacing: -0.0565218px;
  color: #060606;
}

.time-box-items__sended-time {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.0521739px;
  color: #999999;
}

.user-message-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.0565218px;
  color: #2481CC;
}

.user-link-message__message-link {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.0565218px;
  color: #2481CC;
}

.user-link-message {
  border-color: #66A7DB !important;
}

.user-link-message__link-title,
.user-link-message__link-text {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.0565218px;
  color: #000000;
}

.user-link-message__link-text {
  font-weight: 400;
}


.me-messge-item {
  width: 50%;
}

@media (max-width: 1390px) {
  .header-left-inner-time {
    margin-left: calc(53%);
  }
}

@media (max-width: 1200px) {
  .header-left-inner-time {
    margin-left: calc(46% - 50.35px);
  }
}