@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: "../fonts/source-sans-pro-v19-latin-regular.woff2" format("woff2"), url("../fonts/source-sans-pro-v19-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: "../fonts/source-sans-pro-v19-latin-600.woff2" format("woff2"), url("../fonts/source-sans-pro-v19-latin-600.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: "../fonts/source-sans-pro-v19-latin-700.woff2" format("woff2"), url("../fonts/source-sans-pro-v19-latin-700.woff") format("woff");
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: #ffffff;
}

.bg-background-color {
  background-color: #F4F4F4;
}

.header-left-inner__input {
  outline: none;
  border-radius: 8px;
  padding: 7px 0;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.0521739px;
  height: 40px;
}

.btn-hover:hover rect { 
  fill: #2481CC;
  transition: .2s ease;
}

.btn-hover:hover path { 
  fill: #ffffff;
  transition: .2s ease;
}